{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - container_attributes: HTML attributes for the container element.
 * - row_attributes: HTML attributes for the row element.
 *
 * @ingroup themeable
 */
#}
{% if content.first|render|striptags is not empty %}

  <div {{ attributes }}>
    <div {{ container_attributes }}>
      <div {{ row_attributes }}>
        {% if content.first %}
          <div {{ region_attributes.first.addClass('themag-layout__region', 'themag-layout__region--first') }}>
            {{ content.first }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endif %}
